article.hidden {
  opacity: 0;
  pointer-events: none;
}

article {
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 1;
}

figure {
  margin: 0;
  text-align: center;
}

figure img {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.dateline {
  background-color: var(--section-background);
  padding: 1rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  border-radius: 0.3rem;
}

@media screen and (min-width: 961px) {
  .dateline {
    text-align: center;
  }

  .dateline dt, .dateline dd {
    display: inline-block;
  }

  .dateline dt {
    margin-right: 0.5rem;
  }

  .dateline dd {
    margin-right: 1rem;
  }
}

.article-buttons {
  text-align: center;
}
