/*===================*\
        navbar
basically a reworked version of
https://jsfiddle.net/joshnh/srNVQ/
\*===================*/

#masthead {
  /*position: sticky;*/
  top: 0;
  background: var(--content-background);
}

/* credz:  */
.my-navbar ul {
  background: var(--section-background);
  /*font-size: 0;*/
  list-style: none;
  margin: 0;
  padding: 0;
  /*text-align: left;*/
  /*width: 100%;*/
  /* let's use the FLEXX */
  display: flex;
}

.my-navbar li {
  margin: 0;
  padding: 0;
}

#logo {
  background: var(--logo-background);
}

#logo.active {
  background: var(--logo-active-background);
}

#logo img {
  display: inline;
  margin: 0;
  height: 2rem;
}

.my-navbar .separator {
  flex: auto;
}

.my-navbar a {
  background: var(--section-background);
  color: var(--section-text);
  display: block;
  font: bold 1rem/3.125rem var(--sans-serif-font); /* was 16px/50px */
  padding: 0 1.5625rem; /*25px*/
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  border: transparent solid 3px;
}

.my-navbar li:hover a,
.my-navbar li a:focus {
  background: var(--focused-background);
  outline: none;
  border-bottom: solid 3px;
}

.my-navbar li a.active {
  background: var(--active-background);
  color: var(--active-text);
}
