footer {
  background-color: var(--section-background);
  padding: 1rem 0;
  color: var(--section-text);
  /*position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 40rem;*/
}

footer p {
  text-align: center;
}

footer ul {
  margin: 0 20%;
}

footer a {
  color: var(--footer-link-text)
}
