#news-feed {
  width: calc(100vw - 0.8rem); /* no shit sherlock */
  margin: 0 auto;
  overflow: hidden;
  border-bottom: solid 0.3rem var(--section-background);
}

#news-feed ul {
  list-style-type: none;
  margin: 0;
  padding: 0.3rem 0.3rem;

  overflow: visible;
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: 65rem) {
  #news-feed li {
    min-width: 10rem;
    margin-right: 0.5rem;
    max-height: 3rem;
    line-height: 1.1rem;
    background: var(--real-background);
    border-radius: 0.3rem;
    border: solid 0.1rem var(--cyan);
    padding: 0 0.2rem;

    /* cutoff with ellipsis */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  #news-feed ul {
    animation: sweep 20s 1 ease-in-out;
  }
}

/* sweep 2 right */
@keyframes sweep {
  100% {
    transform: translateX(0%);
  }

  70% {
    transform: translateX(-80%);
  }

  50% {
    transform: translateX(-80%);
  }

  20% {
    transform: translateX(0%);
  }
}

@media screen and (max-width: 65rem) {
  #news-feed ul {
    flex-direction: column;
  }
}
